/* Ogólne ustawienia */
body {
    background-color: #222;
    color: #fff;
}

.container {
    padding: 20px;
    border: 1px solid #444;
}

/* Stylizacja sekcji */
.section {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
}

/* Stylizacja przycisków */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
